/*
=fonts
====*/
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600');

/*
=variables
========*/
$yelloWhite: #E8E2D7;
$darkGrey: #2B2B2B;
$cherry: #D1345B;
$cyan: #0797BF;
$persimmon: #EF5209;
$titillium: 'Titillium Web', sans-serif;
$easeAnimate: all ease-in-out 0.3s;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3 {
  font-weight: 600;
  margin: 0;
  padding: 0;
}

a {
  color: $cyan;
  transition: $easeAnimate;
}

a, a:hover, a:active, a:visited, a:focus {
  text-decoration: none !important;
}

a:hover, a:active, a:focus {
  color: $persimmon;
}


body {
  color: $darkGrey;
  background-color: $yelloWhite;
  font-family: $titillium;
  font-weight: 400;
  font-size: 20px;
  text-transform: lowercase;
}

.site-wrapper {
  .section-title {
    text-align: right;
    margin: 0;
  }
  .section-body {
    padding-bottom: 30px;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        margin-bottom: 0.3em;
        .fa {
          margin-right: 0.5em;
          color: $darkGrey;
        }
      }
    }
  }
}

.site-header {
  .site-title {
    text-align: center;
    margin: 0;
    padding: 50px 0;
    background: $darkGrey;
    color: $yelloWhite;
    border-bottom: 5px solid $cherry;
  }
}

section {
  margin-top: 30px;
}

.resources {
  padding-top: 30px;
}

.footer {
  margin-top: 30px;
  p {
    margin: 0;
    padding: 10px 0;
    text-align: center;
    font-size: 16px;
    color: $yelloWhite;
    background: $darkGrey;
  }
}

@media (max-width: 767px) {
  .site-wrapper {
    .section-title {
      text-align: center;
      border-bottom: 2px dotted $darkGrey;
      margin-bottom: 15px;
      padding: 15px 0;
    }
  }
  section, .resources {
    margin-top: 0;
  }
}
